.about-us {
    color: rgba(255,255,255,0.6);
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    padding-left: 0;
    padding-right: 0;
}

.about-us:hover {
    color: rgba(255,255,255,0.8);
}